[Desktop Entry]
Type=Application
Name=pptalk
Comment=Private peer-to-peer conversations
Exec=pptalk-desktop
Icon=pptalk
Categories=Network;Chat;AudioVideo;
Terminal=false
MimeType=x-scheme-handler/pptalk;
